# Auto detect text files and perform LF normalization
*                 text=auto

# Source code
*.java            text eol=lf diff=java
*.xml             text

# Documents
*.md              text
*.txt             text

# Configs
.gitattributes    text
.gitconfig        text

# Exclude files from exporting
.gitattributes    export-ignore
.gitignore        export-ignore
