# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
texlipse

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar

# Maven
target/
.mvn/

# Latex
docs/**
!docs/research.bib
!docs/research.pdf
!docs/research.tex
!docs/ACM-Reference-Format.bst
!docs/*.png
